.App {
  text-align: center;
  line-height: 1.5;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header-date {
  display:flex;
}

.Header {
  border:solid;
  border-width: 0px;
  margin-top:15px;
  text-align:left;
  margin-left: 15px;
  color: #EB0C15;
}

.Header-link {
  border: dashed;
  border-width: 0px;
  text-decoration: none;
  flex: 1;
}

.Date {
  border:solid;
  border-width:0px;
  margin-top:7px;
  margin-bottom: 60px;
  text-align:right;
  margin-right: 15px;
  flex: 0.5;
  font-size: x-small;
}

.Nav {
  border:solid;
  border-width: 0cm;
  background-color: #EFEFEF;
  text-align:left;
}

.Nav-item {
  list-style-type: none;
  font-size: smaller;
  margin-left: 7px;
  text-decoration: none;
  vertical-align: middle;
  color:black;
}

.article-list {
  border:solid;
  border-width: 1px;
  border-color:black;
  text-align: center;
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;  
}

.article-list-item {
  border: solid;
  border-width: 1px;
  border-color:black;
  text-align: center;
  color: black; 
}

.link {
  text-decoration:none;
  color:black;
  border:none;
  background-color: white;
}

.link:hover {
  text-decoration:underline;
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.login-form label {
  text-align: center;
  display: block;
}
.login-form h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.login-form h3 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.login-form button {
  font-size: x-large;
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.logout {
  font-size: x-large;
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

#comments {
  /* visibility:collapse; */
  border:solid;
  border-width:1px;
}

#drop-down-placeholder {
  font-weight: bolder;
}

#user-username {
  position: absolute;
  right: 15px;
  top:20px;
  font-size: x-small;
}

#user-avatar-url {
  border:solid;
  border-width: 0px;
  height: 30px;
  border-radius: 30%;
  object-fit: cover;
  position: absolute;
  right: 15px;
  top:45px;
}

#user-display {
  /* border:solid;
  border-width: 0px;
  position: absolute;
  right: 1px;
  top:20px;
  margin-top:7px; */
  
  
  padding: 0px;
  
}

.single-article-details {
  border:solid;
  border-width: 2px;
  text-align: left;
  border:solid;
  border-width: 0cm;
  background-color: #EFEFEF;
  text-align:left;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.form label {
  text-align: center;
  display: block;
}
.form h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.form textarea {
  font-size: large;
  font-family: inherit;
  width: 90%;
  height: 300px;
  align-items: center;
  padding: 6px 10px;
  margin: 10px 0; 
  border: 1px solid #ddd;
  box-sizing: border-box;
}
.form button {
  font-size: x-large;
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.form input, .form select {
  width: 90%;
  align-items: center;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box; 
}
/* #form-article-title {
  font-size: large;
  font-family: inherit;
  width: 90%;
  height: 50px;
  align-items: center;
  padding: 6px 10px;
  margin: 10px 0; 
  border: 1px solid #ddd;
  box-sizing: border-box;
} */

.user-comment {
  border: solid;
  border-width: 2px;
}