.App {
  text-align: center;
  line-height: 1.5;
  font-family: MarkPro,sans-serif;
  height: 100%;
  width: 100%; 
  overflow: hidden;
  
}

.header-date {
  display:flex;
  padding: 2%;
  padding-right: 2%;
}

.Header {
  margin-top:15px;
  margin-right: 0px;
  text-align:left;
  padding-left: 3%;
  margin-right: 5%;
  color: #EB0C15;
  font-size: 38px;
}

.Header-link {
  text-decoration: none;
  flex: 1;
}

.Date {
  margin-top:7px;
  top: 3%;
}

#user-username {
  position: absolute;
  right: 3.5%;
  top: 30px;
  font-size: medium;
  text-decoration: underline;
}

#user-avatar-url {
  height: 5%;
  border-radius: 30%;
  object-fit: cover;
  position: absolute;
  right: 3.5%;
  top: 68px;
  padding-right: 0%;
}

.Nav {
  border-bottom: solid #454447 1px;
  border-top: solid #454447 1px;
  background-color: #F1F2F2;
  text-align:left;
  width: 100%;
  padding-left: 0%;
  padding-right: 1%;
  margin-bottom: 2%;
  margin-top: 20px;
}

.Nav-item {
  list-style-type: none;
  font-size: medium;
  margin-left: 7px;
  text-decoration: none;
  vertical-align: middle;
  color:black;
}

.article-list-user-title {
  color: #EB0C15;
}

.article-list {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;  
  margin-top: 2%;
}

.article-list-item {
  border: solid #454447 1px;
  text-align: center;
  padding-left: 3%;
  padding-right: 3%;
}

.article-list-title {
  margin-top: 3%;
  margin-bottom: 2%;
  text-decoration: underline;
}

.article-list-body {
  margin-top: 2%;
  margin-bottom: 2%;
}

.article-list-created_at-e {
  display: inline-block;
  padding-right: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.article-list-created_at {
  margin-top: 2%;
  margin-bottom: 2%;
}

.article-list-author {
  text-decoration: underline;
  color: #EB0C15;
  margin-top: 2%;
  margin-bottom: 2%;
}

#article-author {
  text-decoration: none;
}

.article-list-comment-link {
  text-decoration: underline;
  margin-top: 2%;
  margin-bottom: 2%;
}

.article-list-votes {
  border: none;
  margin-left: 42%;
  margin-right: 42%;
  width: 16%;
  color: #fff;
  font-size: 120%;
  border-radius: 5px;
  padding: 12px 0;
  font-size: 18px;
  background-color: #6DCED2;
  margin-bottom: 4%;
}

.article-list-delete {
  font-size: xx-large;
  margin-top: 2%;
  margin-bottom: 3%;
}

.article-list-delete:hover {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: black;
  border: none;
  background-color: white;
}

.login-container {
  background: #32323b;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 250px;
  padding: 40px 60px;
  box-shadow: 1px 1px 20px #171717;
}

.login-form-input-box {
  width: 100%;
  margin: 20px 0;
} 
.login-form input {
  font-size: 20px;
  text-indent: 15px;
  width: 100%;
  border: 1px solid #444;
  border-radius: 5px;
  background: #1d1e22;
  color: #fff;
  padding: 10px 0;
} 
 
.login-form h2 {
  font-size: 1.6em;
  color: #fff;
  text-align: left;
}

.login-form-button {
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 12px 0;
  font-size: 20px;
  background: #5168f4;
  text-align: center;
  transition: background 500ms ease;
  color: #fff;
  margin-top: -15px;
  text-decoration: none;
} 

#signup-button {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #E1E425;
}

.login-form button:hover {
  cursor: pointer;
  background: #f4b651;
}

#login-form-button {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-decoration: none;
}

.login-form p {
  color: #fff;
  text-align: right;
}

.signup-form-heading {
  font-size: 1.25em;
  color: #fff;
  text-align: left;
}

.signup-form-description {
  font-size: 0.85em;
  color: #999A9E;
  text-align: left;
}

.signup-form-container {
  background: #32323b;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  padding: 40px 60px;
  margin-top: 3%;
  box-shadow:1px 1px 20px #171717;
}

.signup-form-input-box {
  width: 100%;
  margin: 20px 0;
}

.signup-form-container input {
  width: 100%;
  border: 1px solid #444;
  border-radius: 5px;
  background: #1d1e22;
  color: #fff;
  padding: 10px 0;
  text-indent: 15px;
}

#signup-form-dropdown {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 1px solid #444;
  border-radius: 5px;
  background: #1d1e22;
  padding: 10px 0;
  text-indent: 15px;
  font-size: 0.85em;
  color: #fff;
}

.signup-form-button {
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 12px 0;
  font-size: 14px;
  background: #5168f4;
  text-align: center;
  transition: background 500ms ease;
  color: #fff;
}

.signup-form-button:hover {
  cursor: pointer;
  background: #E1E425;
}

.user-area-links-container {
  text-align: center;
}

.user-area-link {
  border:solid black 1px;
  padding-left: 3%;
  padding-right: 3%;
  width: 40%;
  display: inline-block;
  vertical-align: middle;
}

.user-area-link-txt {
  text-decoration: underline;
}

.user-area-link-emo {
  font-size: xxx-large;
}

.user-welcome-msg {
  font-size: larger;
  padding-bottom: 3%;
  padding-top: 3%;
}

.user-area-button {
  border: none;
  box-shadow: 1px 1px 5px #171717;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  transition: background 500ms ease;
  color: #fff;
  border-radius: 5px;
  padding: 12px 0;
  font-size: 18px;
  background: #5168f4;
  text-align: center;
}

#user-area-logout {
  background: #454447;
} 


#drop-down-placeholder {
  font-weight: bolder;
}

.single-article-title {
  padding-left: 3%;
  padding-right: 3%; 
  color:#171717;
  text-align: left;
  margin-bottom: -10px;
}

.single-article-author {
  text-decoration: underline;
  margin-bottom: -5px;
  padding-left: 3%;
  padding-right: 3%; 
  text-align: left;
  color: #EB0C15;
}

.single-article-created_at {
  font-size: 80%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: left;
}

.single-article-created_at-e {
  display: inline-block;
  margin-right: 2%;
  vertical-align: middle;
  padding-bottom: 2%;
}

.single-article-body {
  margin-top: -2%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: left;
}

.single-article-details {
  padding-left: 3%;
  padding-right: 3%;
  text-align: left;
}

.single-article-votes {
  border: none;
  box-shadow: 1px 1px 5px #171717;
  width: 16%;
  transition: background 500ms ease;
  color: #fff;
  font-size: 120%;
  border-radius: 5px;
  padding: 12px 0;
  font-size: 18px;
  background-color: #6DCED2;
  text-align: center;
  margin-right: 39%;
}

.single-article-votes:hover {
  cursor: pointer;
}

.single-article-post-comment {
  border: none;
  box-shadow: 1px 1px 5px #171717;
  width: 45%;
  transition: background 500ms ease;
  color: #fff;
  border-radius: 5px;
  padding: 12px 0;
  font-size: 18px;
  background: #5168f4;
  text-align: center;
  margin-top: -10px;
}

.single-article-post-comment:hover {
  cursor: pointer;
}

.single-article-details-2 {
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: left;
}

.single-article-comments-link {
  color: #32323b;
  display: inline-block;
  text-decoration: underline;
  margin-right: 15%;
}

.single-article-comments-link:hover {
  cursor: pointer;
}

.single-article-topic {
  display: inline-block;
  text-decoration: underline;
  padding-right: 3%;
}

.single-article-sort-comments {
  padding-top: 3%;
  padding-left: 3%;
  text-align: left;
}

.single-article-comments-container {
  border:solid;
  border-width:1px;
}

.single-article-comment {
  text-align: left;
  border: solid #454447 1px;
  padding-left: 3%;
  padding-right: 3%;
}

.single-article-comment-author {
  margin-top: 3%;
  color: #EB0C15;
  text-decoration: underline;
  display: inline-block;
  margin-bottom: -5px;
}

.single-article-comment-body {
  margin-top: 2px;
}

.single-article-comment-created_at-e {
  display: inline-block;
  margin-right: 2%;
  font-size: 80%;
}

.single-article-comment-votes {
  border: none;
  box-shadow: 1px 1px 5px #171717;
  width: 16%;
  transition: background 500ms ease;
  color: #fff;
  font-size: 120%;
  border-radius: 5px;
  padding: 12px 0;
  font-size: 18px;
  background-color: #6DCED2;
  text-align: center;
  margin-right: 39%;
  margin-bottom: 3%;
}

.single-article-comment-votes:hover {
  cursor: pointer;
}

.sort-by {
  font-size: 110%;
  margin-bottom: 2%;
}

.sort-by:hover {
  cursor: pointer;
}

.form {
  max-width: 400px;
  margin: 0 auto;
}
.form label {
  padding-left: 6%;
  text-align: left;
  display: block;
  color: #454447;
}
.form h2 {
  font-size: 22px;
  color: #454447;
  margin-bottom: 5px;
  text-align: left;
  padding-left: 6%;
}

.form input, select {
  border: 1px solid #ddd;
  margin: 10px 0; 
  box-sizing: border-box;
  font-size: large;
  font-family: inherit;
  text-align: left;
  padding: 1%;
  font-size: large;
}

.form textarea {
  font-size: large;
  font-family: inherit;
  width: 90%;
  height: 300px;
  align-items: left;
  margin: 10px 0; 
  border: 1px solid #ddd;
  box-sizing: border-box;
  padding: 3%;
}
.form button {
  border: none;
  font-size: x-large;
  background: #5168f4;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 5px #171717;
  text-align: center;
  padding-left: 4%;
  padding-right: 4%;
  transition: background 500ms ease;
}

.form input, .form select {
  width: 90%;
  align-items: left;
  padding-left: 6%;
  border: 1px solid #ddd;
  box-sizing: border-box; 
  padding-left: 6%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.user-comment {
  border: solid;
  border-width: 2px;
}